.board-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 2;
    box-sizing: border-box;
}

.tile {
    width: 10%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    color: lightpink;
    /*border: 0.5px solid black;*/
    /*border-radius: 3px;*/
}

.light-gray {
    background-color: #FBFBF9;
}
.gray {
    background-color: #D9D9D9;
}

.spectrum-gray {
    background-color: #9D9D9D;
}