div.game-board-container {
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

div.game-board-header {
    width: 100%;
    height: 20%;
    gap: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

div.game-board-main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

div.game-board-status {
    width: 70%;
    height: 100%;
    letter-spacing: 3px;
    text-align: center;
}

.waiting {
    color: #FFEE2F;
}

.started {
    color: #932FFF;
}

.finished {
    color: #FF2F2F;
}

@media (max-width: 768px) {
    div.game-board-container {
        width: 100%;
    }
}