.window-wrapper {
    width: 100%;
    height: 100%;
    background-color: #FBFBF9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    font-family: 'circular';
}

.game-wrapper {
    width: 100%;
    height: 95%;
    padding: 10px;
    background-color: #FBFBF9;
    display: flex;
    justify-content: center;
    gap: 10%;
    box-sizing: border-box;
    align-items: center;
    font-family: 'circular';
}

@media (aspect-ratio: 768px) {
    .game-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-sizing: border-box;

    }
}
