div.user-panel-container {
    width: 60%;
    height: 100%;
    /*padding: 1.5rem;*/
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    div.user-panel-container {
        width: 100%;
    }
}